@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/InfiniteScroll.js")
    @Scripts.Render("~/scripts/seedrandom.min.js")
    @Scripts.Render("~/scripts/bootstrap.min.js")
</head>
<body>
    <div class="container-fluid">
        <div class="navbar fixed-top bg-light">
            <div class="input-group flex-nowrap col-sm">
                <input type="radio" class="btn-check" name="country" checked="checked" value="1" id="country1" onchange="refresh()" autocomplete="off">
                <label class="btn btn-secondary radio-buttons" for="country1">Россия</label>
                <input type="radio" class="btn-check" name="country" value="2" id="country2" onchange="refresh()" autocomplete="off">
                <label class="btn btn-secondary radio-buttons" for="country2">México</label>
                <input type="radio" class="btn-check" name="country" value="3" id="country3" onchange="refresh()" autocomplete="off">
                <label class="btn btn-secondary radio-buttons" for="country3">  UK  </label>
            </div>
            <div class="input-group flex-nowrap col-sm">
                <input type="number" class="list-group-item-secondary input-seed" id="seed" value="@ViewBag.Seed" min="0" max="100000000" step="1" onchange="seedChange(1)" />
                <button type="button" class="btn btn-secondary radio-buttons" onclick="seedChange(2)"> Seed </button>
            </div>
            <div class="input-group flex-nowrap col-sm">
                <input type="number" class="list-group-item-secondary input-errors" id="errorsN" value="0" min="0" max="1000" step="0.25" onchange="makeErrors(1)" />
                <input type="range" class="form-range btn btn-secondary input-errors" id="errorsR" value="0" min="0" max="10" step="0.25" onchange="makeErrors(2)" />
            </div>
        </div>
    </div>
    <table id="originalList" class="originalList" hidden="hidden">
    </table>
    <table id="scrolList" class="table table-secondary table-bordered">
    </table>
</body>
</html>